<template lang="pug">
svg.gradient_body
  defs
    linearGradient#grad(
      gradientunits='userSpaceOnUse'
      x1='0%'
      y1='0%'
      x2='100%'
      y2='0%'
    )
      stop#stop1(
        offset='0'
        stop-color='#1E235E'
      )
      stop#stop2(
        offset='1'
        stop-color='#141954'
      )
  rect.gradient_box(
    width='100%'
    height='100%'
  )
</template>

<script>
export default {
  name: 'gradient-background',
}
</script>

<style lang="scss">
.gradient_body {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100vh;
}
.gradient_box {
  fill: url(#grad);
}
</style>
