<template lang="pug">
section.home(
  @wheel='onWheel'
  @touchstart='onTouchStart'
  @touchend='onTouchEnd'
)
  transition(name='fade-short')
    .home_interface(
      v-if='!loading'
      ref='ui'
    )
      transition(
        :css='false'
        appear
        @enter='textEnter'
        @leave='textLeave'
      )
        .home_text(
          v-if='frameIndex === 0'
          key='frameName'
        )
          h3.home_subtitle {{ textByFrame[frameName].description }}
          h1.home_title {{ textByFrame[frameName].title }}
        .info_text(
          v-else
          :key='frameName'
          :class='[ `${frameName}_text` ]'
        )
          .info_title {{ textByFrame[frameName].title}}
          p.info_description {{ textByFrame[frameName].description }}
      nav-points(
        :length='frameList.length'
        :active-index='frameIndex'
        @changeIndex='frameIndex = $event'
      )
      .home_nav__phone
        a.home_nav_btn.btn__prev.pxl_icon.pxl_left(@click='frameIndex--')
        a.home_nav_btn.btn__next.pxl_icon.pxl_right(@click='frameIndex++')
      .home_music
        a.music_toggle(
          :class='{ "music_toggle__active": !musicOn }'
          @click='musicOn ? pauseMusic() : playMusic()'
          ref='musicToggle'
        )
      .home_fallback(v-if='false')
        img.home_fallback_img(src='@/assets/img/pxl_fallback.svg')
        span.home_fallback_title Your browser needs WebGL to see the space
  gradient-background
  audio.home_audio(
    src='intro.mp3'
    ref='audio'
  )
  h1.home_title(v-if='loading') Pxlhead - web-based digital storytelling
  transition(name='fade-short')
    canvas(
      v-if='loading'
      ref='loadingCanvas'
    )
</template>

<script>
import { TweenMax, TimelineMax, Power2, Power0 } from 'gsap'
import debounce from 'lodash.debounce'

import space from '@/assets/canvas/space'
import starfield from '@/assets/canvas/starfield'
import GradientBackground from '@/components/GradientBackground.vue'

export default {
  name: 'home',

  components: {
    GradientBackground,
  },

  data() {
    return {
      loading: true,
      frameIndex: 0,
      frameList: ['home', 'about', 'team', 'work', 'contacts'],
      musicOn: false,
      musicInited: false,
      shareShow: false,

      textByFrame: {
        home: {
          title: 'Pxlhead',
          description: 'Nor the illumination, but insight',
        },
        about: {
          title: 'About us',
          description:
            'A star shines on the hour of our meeting, Pxlhead - is a fruitful creative duo, specializing on web-based digital storytelling. Our cherished purpose is to bring together all types of art, create an immerse feeling and merge it into concise form, quintessence. We offer visual art, interactive stories and full-stack handcrafted websites.',
        },
        team: {
          title: 'Our team',
          description:
            'Meet creative duo of our team. Ellie - obsessed and enthusiastic full stack developer and illustrator with sophisticated sense of taste. Alex - hard-working frontend developer, imaginative designer and ambitious inquisitor-musician. In spite of the quite small membership, integration of effort, team coherence and efficiency helps us to achieve aspirational results.',
        },
        work: {
          title: 'Work',
          description:
            'Our curiosity based on wide range of knowledges - from fundamentals of computer science to design-driven technologies as well as e-commerce stuff. Deeply inspired by VR tech, we are fully engaged in experimenting and keep creating open-source digital initiatives in this sphere.',
        },
        contacts: {
          title: 'Contacts',
          description:
            'It’s easy to get in touch with us. Just send your message in a bottle and wait for a low tide...We will receive it as soon as possible. P.S. If you feel extraordinary desire to take a part of something special and recognize yourself as forward-thinking, just raise your hand and hitchhike;)',
        },
      },
    }
  },

  computed: {
    frameName() {
      return this.frameList[this.frameIndex]
    },
    lastFrameIndex() {
      return this.frameIndex === this.frameList.length - 1
    },
  },

  watch: {
    frameIndex(index) {
      if (index === this.frameList.length) this.frameIndex = 0
      if (index < 0) this.frameIndex = this.frameList.length - 1
      space.moveTargets(this.frameIndex)
    },
  },

  beforeRouteLeave(to, from, next) {
    space.stop()
    next()
  },

  beforeMount() {
    this.tl = new TimelineMax()
    space.draw()
  },

  mounted() {
    this.loading = starfield.settings.loading
    this.$refs.audio.volume = 0.7
    setTimeout(() => {
      this.$refs.audio.play()
    }, 200)

    if (this.loading) {
      this.showStarfield()
      setTimeout(() => {
        starfield.stop()
        this.loading = false
        starfield.settings.loading = false
        this.$el.addEventListener('click', this.initMusic)
      }, 7000)
      setTimeout(() => {
        this.$el.appendChild(space.init())
        space.start()
      }, 5000)
    } else {
      setTimeout(() => {
        this.$el.addEventListener('click', this.initMusic)
        this.$el.appendChild(space.init())
        space.start()
      }, 700)
    }
  },

  methods: {
    initMusic() {
      if (!this.musicInited) this.playMusic()
      if (!this.$refs.audio.paused) {
        this.musicInited = true
        this.$el.removeEventListener('click', this.initMusic)
      }
    },
    showStarfield() {
      starfield.settings.bgColor = '#141954'
      starfield.settings.density = 1024
      starfield.init(this.$refs.loadingCanvas)
      starfield.animate()

      TweenMax.to(starfield.settings, 2, {
        speed: 70,
        delay: 1,
        ease: Power0.easeNone,
      })
      TweenMax.to(starfield.settings, 3, {
        speed: 1,
        delay: 3,
        ease: Power0.easeNone,
      })
      TweenMax.to(starfield.settings, 3, {
        density: 0,
        roundProps: 'density',
        delay: 4,
        ease: Power0.easeNone,
      })
    },
    textEnter(el, done) {
      this.tl.staggerFrom(
        el.childNodes,
        0.6,
        {
          y: 100,
          opacity: 0,
          ease: Power2.easeOut,
        },
        0.2,
        '+=0',
        done
      )
    },
    textLeave(el, done) {
      this.tl.staggerTo(
        el.childNodes,
        0.6,
        {
          y: -100,
          opacity: 0,
          ease: Power2.easeOut,
        },
        0.2,
        '+=0',
        done
      )
    },
    onWheel: debounce(function (event) {
      if (this.loading) return
      if (event.deltaY > 0) this.frameIndex++
      else this.frameIndex--
    }, 300),
    onTouchStart(event) {
      this.touchStartY = event.changedTouches[0].clientY
    },
    onTouchEnd(event) {
      const distanceY = this.touchStartY - event.changedTouches[0].clientY
      if (this.loading || Math.abs(distanceY) < 80) return
      if (distanceY < 0 && !this.lastFrameIndex) this.frameIndex++
      else if (this.frameIndex > 0 && distanceY !== 0) this.frameIndex--
    },
    playMusic() {
      this.musicOn = true
      this.$refs.audio.play()
      TweenMax.from(this.$refs.musicToggle, 0.8, {
        scale: 0.6,
        repeat: -1,
        yoyo: true,
      })
    },
    pauseMusic() {
      this.musicOn = false
      this.$refs.audio.pause()
      TweenMax.to(this.$refs.musicToggle, 0.2, {
        scale: 1,
      })
    },
  },
}
</script>

<style lang="scss">
@import '@/assets/styles/global.scss';

.home {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.home_interface {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 4;
}
.home_title {
  @include headings(8rem, 2);
  letter-spacing: 3px;
  line-height: $line-height-h0;
  font-size: $font-size-h0;
  color: #00d6a0;
  font-weight: 800;
  overflow: visible;
  span {
    display: inline-block;
  }
  @include screen-style(iphone7) {
    font-size: 4rem;
    line-height: 5rem;
    color: $color-white;
  }
  @include screen-style(iphoneSE) {
    font-size: 4rem;
    line-height: 5rem;
    color: $color-white;
  }
}
.home_subtitle {
  @include paragraphs(2.6rem, 1);
  color: transparentize($color-white, 0.1);
  line-height: 30px;
  @include screen-style(iphone7) {
    font-size: 16px;
  }
  @include screen-style(iphoneSE) {
    font-size: 16px;
  }
}
.home_text {
  position: absolute;
  top: 60vh;
  left: 10rem;
  z-index: 10;
  display: flex;
  flex-direction: column;
  @media (orientation: portrait) {
    left: 5rem;
  }
  @include screen-style(iphone7) {
    top: 17%;
    left: 3rem;
  }
  @include screen-style(iphoneSE) {
    top: 17%;
    left: 3rem;
  }
}
.info_text {
  position: absolute;
  width: 60%;
  z-index: 10;
  height: auto;
  @include screen-style(ipadPro) {
    width: 68%;
  }
  @media (orientation: portrait) {
    width: 60%;
  }
  @include screen-style(iphone7) {
    width: 80%;
  }
  @include screen-style(iphoneSE) {
    width: 80%;
  }
}
.info_title {
  @include headings(6rem, 2);
  letter-spacing: 3px;
  color: $color-green;
  line-height: $line-height-h1;
  font-size: $font-size-h1;
  font-weight: 800;
  text-transform: uppercase;
  @include screen-style(ipadPro) {
    font-size: 5.4rem;
  }
  @media (orientation: portrait) {
    font-size: 5rem;
    margin-bottom: 3rem;
  }
  @include screen-style(iphone7) {
    font-size: 3rem;
    line-height: 5rem;
    margin-bottom: 1rem;
  }
  @include screen-style(iphoneSE) {
    font-size: 3rem;
    line-height: 4rem;
    margin-bottom: 1rem;
  }
}
.info_description {
  @include paragraphs(2rem, 5);
  color: transparentize($color-text, 0.1);
  line-height: $line-height-base;
  letter-spacing: 0.05em;
  font-size: $font-size-m;
  display: block;
  margin-top: $margin-m;
  margin-left: $margin-l;
  height: auto;
  @include screen-style(ipadPro) {
    font-size: 1.8rem;
  }
  @media (orientation: portrait) {
    font-size: 1.8rem;
    margin-left: 0;
    margin-top: 1rem;
    line-height: 1.7;
  }
  @include screen-style(iphone7) {
    font-size: 1.3rem;
  }
  @include screen-style(iphoneSE) {
    font-size: 1.3rem;
  }
}
.home_nav__phone {
  position: absolute;
  bottom: 2rem;
  right: 0;
  display: flex;
  align-items: center;
  display: none;
  @include screen-style(iphone7) {
    display: block;
    bottom: 3rem;
  }
  @include screen-style(iphoneSE) {
    display: block;
    bottom: 3rem;
  }
}
.home_nav_btn {
  width: 4rem;
  height: 4rem;
  text-align: center;
  line-height: 4rem;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 50%;
  margin: 0 1rem;
  cursor: pointer;
  color: $color-white;
  background-color: transparentize($color-white, 0.8);
  transition: $transition;
  &:hover {
    background-color: transparentize($color-white, 0.6);
    transition: $transition;
  }
  &__disable {
    opacity: 0.5;
    cursor: not-allowed;
    &:hover {
      background-color: transparentize($color-white, 0.9);
    }
  }
}

// text positioning

.about_text {
  top: 12rem;
  left: 22vw;
  @include screen-style(ipadPro) {
    left: 17vw;
  }
  @include screen-style(iphone7) {
    top: 12rem;
    left: 12vw;
  }
  @include screen-style(iphoneSE) {
    top: 12rem;
    left: 12vw;
  }
}
.team_text {
  top: 12rem;
  left: 22vw;
  @include screen-style(ipadPro) {
    left: 17vw;
  }
  @include screen-style(iphone7) {
    top: 12rem;
    left: 12vw;
  }
  @include screen-style(iphoneSE) {
    top: 12rem;
    left: 12vw;
  }
}
.work_text {
  top: 12rem;
  left: 22vw;
  @include screen-style(ipadPro) {
    left: 17vw;
  }
  @include screen-style(iphone7) {
    top: 12rem;
    left: 12vw;
  }
  @include screen-style(iphoneSE) {
    top: 12rem;
    left: 12vw;
  }
}
.contacts_text {
  top: 12rem;
  left: 22vw;
  @include screen-style(ipadPro) {
    left: 17vw;
  }
  @include screen-style(iphone7) {
    top: 12rem;
    left: 12vw;
  }
  @include screen-style(iphoneSE) {
    top: 12rem;
    left: 12vw;
  }
}

.mouse_tip {
  position: absolute;
  z-index: 10;
  bottom: 10rem;
  right: 7rem;
  width: 2.5rem;
  height: 4rem;
  opacity: 0.6;
  border: 3px solid $color-white;
  border-radius: 1.5rem;
  animation: scroll-mouseBody 2s ease-in-out infinite;
  @media (orientation: portrait) {
    width: 3rem;
    height: 4.5rem;
  }
  @include screen-style(iphone7) {
    display: none;
  }
  @include screen-style(iphoneSE) {
    display: none;
  }
}
.mouse_wheel {
  position: absolute;
  top: 0.5rem;
  left: calc(50% - 0.6rem / 2);
  width: 0.6rem;
  height: 0.6rem;
  background-color: $color-white;
  border-radius: 50%;
  animation: scroll-mouseTip 2s ease-in-out infinite;
}

// music player

.home_music {
  position: absolute;
  width: 5rem;
  height: 5rem;
  bottom: 5rem;
  right: 5.5rem;
  opacity: 0.8;
  cursor: pointer;
  z-index: 1001;
  @include screen-style(iphone7) {
    left: 3rem;
  }
  @include screen-style(iphoneSE) {
    left: 3rem;
  }
  &:hover {
    &::after {
      opacity: 1;
      transform: translateY(0);
      transition: all 0.3s ease-in-out;
    }
  }
  &::after {
    content: 'music';
    position: absolute;
    top: -3rem;
    left: -0.5rem;
    opacity: 0;
    transform: translateY(3rem);
    transition: all 0.3s ease-in-out;
    font-size: 1.4rem;
    padding: 3px 10px;
    border-radius: 5px;
    background-color: $dark-layout;
    color: white;
  }
  @include screen-style(iphone7) {
    bottom: 3rem;
    right: 3rem;
    width: 4rem;
    height: 4rem;
  }
  @include screen-style(iphoneSE) {
    bottom: 3rem;
    right: 3rem;
    width: 4rem;
    height: 4rem;
  }
}
.music_toggle {
  position: absolute;
  top: calc(50% - 4rem / 2);
  left: calc(50% - 4rem / 2);
  width: 4rem;
  height: 4rem;
  border: 2rem solid $color-main;
  border-radius: 50%;
  cursor: pointer;
  z-index: 100;
  transition: border 0.3s ease-in-out;
}
.music_toggle__active {
  border: 1rem solid $color-main;
  transition: border 0.3s ease-in-out;
}
.home_fallback {
  position: fixed;
  top: 50%;
  left: calc(50vw - 12rem);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home_fallback_img {
  width: 50%;
  height: auto;
  object-fit: contain;
  margin-bottom: 2rem;
}
.home_fallback_title {
  font-size: 2rem;
  color: white;
}
</style>
