@function rem($px, $base: $font-size-base) {
  @return ($px / $base) * 1rem;
}

// font
$font-size: 10px;
$font-family: 'Open Sans', Helvetica, Arial, sans-serif;

// paragraph
$font-size-base: 16px;
$font-size-xs: 11px;
$font-size-s: 13px;
$font-size-m: 20px;
$font-size-l: 36px;
$font-size-xl: 64px;

$paragraph-size: rem(17px);
$paragraph-margin: 20px;
$line-height-base: 1.5;

//headings

$header-size: rem(40px);
$font-size-h4: 24px;
$font-size-h3: 36px;
$font-size-h2: 46px;
$font-size-h1: 64px;
$font-size-h0: 80px;

$header-margin: $paragraph-margin * 1.2;

$line-height-h6: 1.25;
$line-height-h5: 1.25;
$line-height-h4: 1.25;
$line-height-h3: 1.25;
$line-height-h2: 1.25;
$line-height-h1: 1.25;
$line-height-h0: 1.25;

// colors
$color-main: #717af8; //
$color-dark: #1e235e;
$color-light: #a9aeff;
$color-accent: #f85c4f;
$color-light-accent: #ff9c94;
$color-green: #5ed8d3;
$color-orange: #ffbc51;

$color-layout: #fafafa;
$color-modal: #e1e1f1;
$color-white: #fff;

$color-darkgrey: #5a6872;
$color-grey: #8c9ba5;
$color-lightgrey: #f0f3f6;
$color-text: #f0f3f6;

// dark theme

$dark-layout: #36393f;
$dark-navigation: rgba(0, 0, 0, 0.2);
$dark-item: rgba(255, 255, 255, 0.08);

// changeble color variables

:root {
  --var-layout: #36393f;
  --var-navigation: rgba(0, 0, 0, 0.2);
  --var-item: rgba(255, 255, 255, 0.08);
  --var-text: #fff;
  --var-layer: #fcfcfc;
  --var-logo: rgba(255, 255, 255, 0.08);
}

// margins
$margin-xxs: 4px;
$margin-xs: $margin-xxs * 2; // 8px
$margin-s: $margin-xxs * 4; // 16px
$margin-m: $margin-xxs * 8; // 32px
$margin-l: $margin-xxs * 16; // 64px
$margin-xl: $margin-xxs * 32; // 128px

//paddings
$padding-btn: 4px 8px;

// style vars
$border-radius: 4px;

$shadow-s: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
$shadow-m: 0 6px 30px 0 rgba(0, 0, 0, 0.2);
$shadow-l: 4px 12px 40px 0 rgba(0, 0, 0, 0.2);

$duration-fast: 0.3s;
$duration-medium: 0.5s;
$duration-slow: 0.8s;

$color-lightblue: lighten(#b1a4cf, 15);

// style vars

$transition: all 0.3s ease-in-out;

// screen breakpoints vars

$IPSE: 330px;
$IP7: 375px;
$IPAIR: 768px;
$IPPRO: 1024px;
$IMAC: 1440px;
$FULLHD: 1920px;

// mixin for media queries

@mixin screen-style($media) {
  @if $media == iphoneSE {
    @media only screen and (max-width: $IPSE + 1) {
      @content;
    }
  } @else if $media == iphone7 {
    @media only screen and (min-width: $IP7 - 1) and (max-width: $IPAIR - 1) {
      @content;
    }
  } @else if $media == ipadAir {
    @media only screen and (min-width: $IPAIR - 1) and (max-width: $IPPRO - 1) {
      @content;
    }
  } @else if $media == ipadPro {
    @media only screen and (min-width: $IPPRO - 1) and (max-width: $IMAC - 1) {
      @content;
    }
  } @else if $media == iMac {
    @media only screen and (min-width: $IMAC - 1) and (max-width: $FULLHD - 1) {
      @content;
    }
  } @else if $media == fullHd {
    @media only screen and (min-width: $FULLHD - 1) {
      @content;
    }
  }
}

// mixin for centering

@mixin center-pos($size) {
  width: $size;
  height: $size;
  top: calc(50% - #{$size} / 2);
  left: calc(50% - #{$size} / 2);
}

// mixins for elements (only functional styling, include before design styling)

@mixin headings($font-size, $lines-num) {
  font-size: $font-size;
  line-height: $font-size + $font-size / 4;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
}

@mixin paragraphs($font-size, $lines-num) {
  font-size: $font-size;
  line-height: $line-height-base;
  height: ($font-size + $line-height-base / 2) * ($lines-num);
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;
}

@mixin buttons-text($font-size, $width, $height) {
  position: relative;
  font-size: $font-size;
  line-height: $height;
  width: $width;
  height: $height;
  font-weight: 600;
  text-align: center;
  border-radius: $border-radius;
  cursor: pointer;
  text-transform: uppercase;
  display: block;
  z-index: 1;
  transition: $transition;
  color: transparentize($color-white, 0.1);
  margin: 0 1rem;
  background-color: $color-main;
  &:hover {
    background-color: darken($color-main, 10%);
    transition: $transition;
  }
}

@mixin buttons-icon($font-size, $size) {
  position: relative;
  font-size: $font-size;
  line-height: $size;
  width: $size;
  height: $size;
  display: block;
  text-align: center;
  border-radius: $border-radius;
  cursor: pointer;
  overflow: hidden;
  transition: $transition;
  background-color: $color-main;
  &:hover {
    background-color: darken($color-main, 10%);
    transition: $transition;
  }
}

@mixin icons($font-size) {
  position: absolute;
  font-size: $font-size;
  top: 0;
  left: -$font-size - 1.5rem;
  width: $font-size;
  height: 100%;
  line-height: $font-size;
  display: block;
  text-align: center;
  z-index: 1;
  transition: $transition;
  @media (orientation: portrait) {
    font-size: $font-size * 0.85;
  }
  @include screen-style(iphone7) {
    font-size: $font-size * 0.75;
  }
  @include screen-style(iphoneSE) {
    font-size: $font-size * 0.75;
  }
}

@mixin tags($font-size, $width, $height) {
  position: relative;
  font-size: $font-size;
  line-height: calc(#{$height} - 2px);
  padding: 0 2rem;
  height: $height;
  display: block;
  text-align: center;
  border-radius: $border-radius;
  color: $color-darkgrey;
  cursor: pointer;
  background-color: $color-lightgrey;
  border: 2px solid transparentize($color-grey, 0.7);
  transition: $transition;
  &:hover {
    background-color: lighten($color-grey, 25%);
    transition: $transition;
  }
}

// mixins for transitions

@mixin transition-fade($id, $time, $delay) {
  .fade-#{$id}-enter-active,
  .fade-#{$id}-leave-active {
    transition: opacity $time ease-in-out $delay;
  }
  .fade-#{$id}-enter,
  .fade-#{$id}-leave-to {
    opacity: 0;
  }
}

@mixin transition-slide($id, $direction, $percent, $time, $delay) {
  @if $direction == X {
    .slideX-#{$id}-enter-active,
    .slideX-#{$id}-leave-active {
      transition: all $time ease-in-out $delay;
    }
    .slideX-#{$id}-enter,
    .slideX-#{$id}-leave-to {
      opacity: 0;
      transform: translateX($percent);
    }
  }
  @if $direction == Y {
    .slideY-#{$id}-enter-active {
      transition: all $time ease-in $delay;
    }
    .slideY-#{$id}-leave-active {
      transition: all $time ease-in;
    }
    .slideY-#{$id}-enter,
    .slideY-#{$id}-leave-to {
      opacity: 0;
      transform: translateY($percent);
    }
  }
}

@mixin transition-slideXY($id, $percent1, $percent2, $time, $delay) {
  .slideXY-#{$id}-enter-active,
  .slideXY-#{$id}-leave-active {
    transition: all $time ease-in-out $delay;
  }
  .slideXY-#{$id}-enter,
  .slideXY-#{$id}-leave-to {
    transform: translate($percent1, $percent2);
  }
}

@mixin transition-scale($id, $scale, $time, $delay) {
  .scale-#{$id}-enter-active,
  .scale-#{$id}-leave-active {
    transition: all $time ease-in-out $delay;
  }
  .scale-#{$id}-enter,
  .scale-#{$id}-leave-to {
    transform: scale($scale);
    opacity: 0;
  }
}

@mixin transition-width($id, $width, $time, $delay) {
  .width-#{$id}-enter-active,
  .width-#{$id}-leave-active {
    transition: all $time ease-in-out $delay;
  }
  .width-#{$id}-enter,
  .width-#{$id}-leave-to {
    width: $width;
    opacity: 0;
  }
}

// .overlay-enter-active, .overlay-leave-active {
//   transition: all 1.6s ease-in-out;
// }
// .overlay-enter, .overlay-leave-to {
//   transform: scale(1) translateX(0) translateY(0);
// }

.tooltip-enter-active,
.tooltip-leave-active {
  transition: $transition;
}
.tooltip-enter,
.tooltip-leave-to {
  transform: translateY(2rem);
  opacity: 0;
}

.tooltip-icon-enter-active,
.tooltip-icon-leave-active {
  transition: $transition;
}
.tooltip-icon-enter,
.tooltip-icon-leave-to {
  transform: translateY(-2rem);
  opacity: 0;
}

@include transition-fade(short, 0.3s, 0.1s);

@include transition-fade(delay, 0.3s, 0.6s);

@include transition-fade(long, 1.3s, 0.1s);

@include transition-slide(up-delay, Y, 100%, 0.5s, 0.3s);

@include transition-slide(up, Y, 100%, 0.4s, 0.3s);

@include transition-slide(up-long, Y, 3rem, 0.4s, 0.2s);

@include transition-slide(down, Y, -100%, 0.3s, 0.1s);

@include transition-slide(down-long, Y, -3rem, 0.5s, 0.1s);

@include transition-slide(right-short, X, 3rem, 0.3s, 0.1s);

.slideX-right-enter-active,
.slideX-right-leave-active {
  transition: all 0.3s ease-in-out;
}
.slideX-right-enter {
  transform: translateX(100%);
}
.slideX-right-leave-to {
  opacity: 0;
  transform: translateX(-100%);
}

@include transition-slide(down-short, Y, -3rem, 0.3s, 0.1s);

@include transition-slideXY(right-down, -12.5%, -55%, 0.5s, 0.3s);

@include transition-slideXY(back, 0, 0, 0.3s, 0.3s);

@include transition-scale(small, 0.7, 0.5s, 0.1s);

@include transition-width(all, 0, 0.5s, 0.1s);

.flip-list-move {
  transition: transform 1s;
}

$font-fallback: system, -apple-system, '.SFNSText-Regular', 'San Francisco',
  'Roboto', 'Segoe UI', 'Helvetica Neue', 'Lucida Grande', sans-serif;

@font-face {
  font-family: 'OpenSans';
  src: url('~@/assets/font/opensans-regular.woff2') format('woff2'),
    url('~@/assets/font/opensans-regular.woff') format('woff');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans';
  src: url('~@/assets/font/opensans-bold.woff2') format('woff2'),
    url('~@/assets/font/opensans-bold.woff') format('woff');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Lora';
  src: url('~@/assets/font/lora-regular.woff2') format('woff2'),
    url('~@/assets/font/lora-regular.woff') format('woff');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Lora';
  src: url('~@/assets/font/lora-bold.woff2') format('woff2'),
    url('~@/assets/font/lora-bold.woff') format('woff');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Lora';
  src: url('~@/assets/font/lora-italic.woff2') format('woff2'),
    url('~@/assets/font/lora-italic.woff') format('woff');
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url('~@/assets/font/raleway-semibold.woff2') format('woff2'),
    url('~@/assets/font/raleway-semibold.woff') format('woff');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url('~@/assets/font/raleway-extrabold.woff2') format('woff2'),
    url('~@/assets/font/raleway-extrabold.woff') format('woff');
  font-weight: 800;
  font-display: swap;
}

html {
  font-size: 10px;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
body {
  font-family: 'OpenSans', $font-fallback;
  outline: none;
  height: 100%;
  background-color: var(--var-layout);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  color: white;
  margin: 0;
  &:first-child {
    margin-top: 0;
  }
}
h1 {
  font-size: $header-size;
  line-height: $line-height-h1;
}

h2 {
  font-size: $header-size / 1.3;
  line-height: $line-height-h2;
}

h3 {
  font-size: $header-size / 1.5;
  line-height: $line-height-h3;
}

h4 {
  font-size: $header-size / 1.7;
  line-height: $line-height-h4;
}
h5 {
  font-size: $header-size / 1.8;
  line-height: $line-height-h5;
}
h6 {
  font-size: $header-size / 2;
  line-height: $line-height-h6;
}
p {
  font-size: $paragraph-size;
  line-height: $line-height-base;
}

.noscroll {
  overflow: hidden;
  height: 100%;
}

::selection {
  background: $color-light; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: $color-light; /* Gecko Browsers */
}
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  opacity: 0.4;
}
::-moz-placeholder {
  /* Firefox 19+ */
  opacity: 0.4;
}
:-ms-input-placeholder {
  /* IE 10+ */
  opacity: 0.4;
}
:-moz-placeholder {
  /* Firefox 18- */
  opacity: 0.4;
}

// ::-webkit-scrollbar {
//     display: none;
// }

img {
  max-width: 100%;
  object-fit: cover;
}
div[class*='img'] {
  // background: $color-main;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
